.csss{
   background-image: url(./image/bg2.jpeg);
   
}
.cs1{
    background-image: url(./image/suv-img.jpg);
    
}
.cs2
{
    background-image: url(./image/bg6.jpg);
/* background-repeat: no-repeat;
background-size: cover; */

    
}
.cs4{
    background-image: url(./image/bg8.jpg);
    
}